body {
    margin-top: 20px;
    color: #1a202c;
    text-align: left;
    background-color: #ffff;
}

.main-body {
    padding: 15px;
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col,
.gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}

.mb-3,
.my-3 {
    margin-bottom: 1rem !important;
}

.bg-gray-300 {
    background-color: #ffff;
}

.h-100 {
    height: 100% !important;
}

.shadow-none {
    box-shadow: none !important;
}

.avatar-container {
    display: flex;
    position: relative;
    align-items: center;
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 5px;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
}

.form-row {
    margin-bottom: 10px;
}

.form-row label {
    display: inline-block;
    width: 150px;
    margin-right: 10px;
    font-weight: bold;
}

.form-row input {
    width: calc(100% - 160px);
    /* Calculate the width of the input field */
}

.avatar-container .logo {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 300px;
    max-height: 100px;
    object-fit: cover;
    border-radius: 50%;
    z-index: 1;
    
}